{% extends "base_template.html" %}

{% block title %}{{ community.name }}{% endblock %}

{% block content %}
<div class="col-12 col-md-8 col-lg-6"> 

    <div class="card shadow-sm" > 
        <div class="card-header card-dark d-flex justify-content-between align-items-center">
    
            <!-- Nombre de la comunidad -->
            <h5 class="card-title mb-0" style="color: white; font-size: 15px;">
            {{ community.name }}
            </h5>

            <!-- Botones de seguir / dejar de seguir -->
            {% if not is_member %}
                {% if not is_follower %}
                <form action="{{ url_for('community.follow_community', community_id=community.id) }}" method="POST">
                    <button class="btn btn-primary btn-sm">Seguir</button>
                </form>
                {% else %}
                <form action="{{ url_for('community.unfollow_community', community_id=community.id) }}" method="POST">
                    <button class="btn btn-secondary btn-sm">Dejar de seguir</button>
                </form>
                {% endif %}
            {% endif %}
        </div>

        <div class="card-body">
            <p class="card-text h5"><i class="fa fa-user-circle"></i>{{community.description}}</p>
            <p class="card-text h5"><i class="fa fa-id-card"></i> <strong>Users:</strong> {{usersSize}} users</p>
            <p class="card-text h5"><i class="fa fa-database"></i> <strong>Datasets:</strong> {{ datasetsSize }} datasets</p>
            {% if is_admin %}
            <div style="flex: 1; margin-right: 20px;">
                <a href="{{ url_for('community.update_community', community_id=community.id) }}" class="btn btn-outline-primary btn-sm">Editar</a>
            </div>
            <div class="mt-3">
                <form method="POST" action="{{ url_for('community.delete_community', community_id=community.id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </div>
            {% endif %}
        </div>   
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Datasets</h3>
            <hr>
            {% if datasets %}
                {% for dataset in datasets %}
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2>

                                <a href="{{ dataset.get_componenteshub_doi() }}">
                                    {{ dataset.ds_meta_data.title }}
                                </a>

                            </h2>
                            <div>
                                <span class="badge bg-secondary">{{ dataset.get_cleaned_publication_type() }}</span>
                            </div>
                        </div>
                        <p class="text-secondary">{{ dataset.created_at.strftime('%B %d, %Y at %I:%M %p') }}</p>

                        <div class="row mb-2">

                            <div class="col-12">
                                <p class="card-text">{{ dataset.ds_meta_data.description }}</p>
                            </div>

                        </div>

                        <div class="row mb-2 mt-4">

                            <div class="col-12">
                                {% for author in dataset.ds_meta_data.authors %}
                                    <p class="p-0 m-0">
                                        <a href="{{ url_for('profile.proyectos_autor', author_id=author.id) }}">{{ author.name }}</a>                                 
                                        {% if author.affiliation %}
                                            ({{ author.affiliation }})
                                        {% endif %}
                                        {% if author.orcid %}
                                            ({{ author.orcid }})
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>


                        </div>

                        <div class="row mb-2">

                            <div class="col-12">
                                <a href="{{ dataset.get_componenteshub_doi() }}">{{ dataset.get_componenteshub_doi() }}</a>
                                 <div id="dataset_doi_componenteshub_{{ dataset.id }}" style="display: none">
                                {{ dataset.get_componenteshub_doi() }}
                            </div>

                            <i data-feather="clipboard" class="center-button-icon"
                               style="cursor: pointer"
                               onclick="copyText('dataset_doi_componenteshub_{{ dataset.id }}')"></i>
                            </div>



                        </div>

                        <div class="row mb-2">

                            <div class="col-12">
                                {% for tag in dataset.ds_meta_data.tags.split(',') %}
                                    <span class="badge bg-secondary">{{ tag.strip() }}</span>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="row  mt-4">
                            <div class="col-12">
                                <a href="{{ dataset.get_componenteshub_doi() }}" class="btn btn-outline-primary btn-sm"
                                   style="border-radius: 5px;">
                                    <i data-feather="eye" class="center-button-icon"></i>
                                    View dataset
                                </a>

                                <a href="/dataset/download/{{ dataset.id }}" class="btn btn-outline-primary btn-sm"
                                   style="border-radius: 5px;">
                                    <i data-feather="download" class="center-button-icon"></i>
                                    Download ({{ dataset.get_file_total_size_for_human() }})
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay datasets disponibles.</p>
            {% endif %}
        </div>

        <!-- Sección de usuarios a la derecha -->
        <div class="col-md-6">
            <h3>Miembros</h3>
            <hr>
            <ul>
                {% for user in users %}
                    <li>
                        {% if users[user] %}
                            <span>{{ user }} (admin) </span>
                        {% else %}
                            {{ user }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <h4 class="mt-4">Seguidores</h4>
            <hr>
            <ul>
                {% if followers %}
                    {% for follower in followers %}
                        <li>{{ follower }}</li>
                    {% endfor %}
                {% else %}
                        <li>No hay seguidores aún</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}